*{

    background-color: rgb(190, 196, 196);
    
    
    }
    
    
    .titulo{
    
    background-color: palevioletred;
    color: white;
    
    
    }
    
    #titulo2{
    
    color: darkorchid;
    
    
    }
    
    
    li{
    
    color: rgb(104, 95, 95);
    
    }
    
    